@import "ui-variables";

.scrollmap .marker.marker-git {
  z-index: 11;

  &.added {
    background-color: @text-color-success;
  }
  &.modified {
    background-color: @text-color-warning;
  }
  &.removed {
    background-color: @text-color-error;
  }
}
